.visible{
    display: flex;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}

.overview{
    width: 50%;
    padding-right: 10px;
    margin-right: 10px;
}

.header-modal {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.body-modal {
    height: 60%;
}

.user-data, .contact {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}

.stads, .overview{
    margin: 0;
}

.modal-close {
    color: #F1F1F1;
    font-weight: bold;
    background-color: transparent;
    border: 0;
    height: 2%;
    cursor: pointer;
}

.modal-close:hover {
    color: #194973;
    transition: 0.5s;
}

.modal-content {
    background-color: #000000;
    border: 3px solid #194973;
    margin: 10% auto;
    padding: 2%;
    overflow: hidden;
    border-radius: 15px;
    width: 30%;
}

.user-description{
    display: flex;
    height: 80%;
    justify-content: space-between;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: #194973;
}

@media screen and (min-width: 1800px) {
    .user-description{
        font-size: 20px;
    }
    .modal-title{
        font-size: 30px;
    }
  }

@media screen and (max-width: 900px) {
    .user-description{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .overview{
        width: 100%;
        height: 50%;
    }
  }

@media screen and (max-width: 1100px) {
    .modal-content{
        width: 40%;
    }
  }

@media screen and (max-width: 668px) {
    .modal-content{
        width: 80%;
        height: 50%;
    }
    .overview{
        width: 100%;
        height: 50%;
    }
  }