ul, li { margin-left: 0; padding-left: 0; text-decoration: none; list-style: none;}

.fullname, .location {
    padding: 0;
    margin: 0;
    color: #F1F1F1;
}

.fullname {
    font-size: 18px;
    font-weight: bold;
    background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

.location{
    font-size: 12px;
    background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

.user-container {
    width: 12%;
    margin: 10px;
    transition: transform .4s;
    background-color: #194973;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    height: 120px;
    border: 1px solid #000000;
}

.user-container:hover{
    transform: scale(1.03)
}

.icon {
    height: auto;
    filter: brightness(80%);
    transition: transform .4s;
}

.icon-container{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@media screen and (max-width: 768px) {
    .user-container{
        width: 40%;
    }
    .user-stads{
        margin-left: 0;
    }
  }

@media screen and (min-width: 1800px) {
    .fullname{
        font-size: 25px;
    }
    .location{
        font-size: 20px;
    }
  }
