footer {
    display: flex;
    background-color: #000000;
    padding: 25px 10px;
    justify-content: space-between;
    align-items: center;
}

.footer-rights{
    color: #194973;
    margin: 0 5%;
}

.linkedin{
    font-weight: bold;
    color: #194973;
}